

*{
  margin: 0;
  padding: 0;
}



html, body {
  height: 100%;
  background: #ddd;
}

body {
  padding: 50px;
 
}

.bottle {
  display: inline-block;
  position: relative;
  width: 100px;
  margin: 0 10px 0px 0;
}


.bottle1 {
  display: inline-block;
  position: relative;
  width: 110px;
  height:300px;
  margin: 0 10px 0px 0;
  background: yellow;
  border: 1px solid orange;
  border-top: 1px solid blue;
  border-bottom-width: 0.5px;
}

.bottle_top {
  height: 60px;
  width: 90px;
  position: relative;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  margin: 0px auto;
  background:green;
}

.bottle_neck {
  height: 30px;
  width: 70px;
  position: relative;
  background: none;
  border: 1px solid red;
  border-top: none;
  border-bottom: none;
  margin: 0px auto;
  background:grey;
}

.bottle_main {
  height: 160px;
  position: relative;
  width: 100px;
  background: none;
  border: 1px solid green;
  border-top: none;
  border-bottom: none;

}

.bottle_mouth {
  height: 52px;
  width: 40px;
  margin: 0px auto;
  position: relative;
  background: none;
  border: 1px solid purple;
  border-top: none;
  border-bottom: none;
  background: red;
}

.bottle_inner {
  height: 149px;
  width: 80%;
  margin: 0px auto;
  border-radius: 10px 10px 20px 20px/10px;
  border: 1px solid orange;
  border-top: 1px solid blue;
  border-bottom-width: 0.5px;
  position: relative;
 
  
  top: 1px;
}

.water {
  background: yellow;
  width: 90%;
  height: 90px;
 margin: 0px auto;
  position: relative;

  border-radius: 50px 50px 20px 20px/8px 8px 10px 10px;
}
 

      #tv {
  width: 35px;
  height: 150px;
  margin: 20px 0;
  background: green;
  border-radius: 20% / 20%;
  color: white;
  text-align: center;
  text-indent: .1em;
  position: absolute;
  top: 0px;
  left: 0px;
}
#tv:before {
  content: '';
  position: absolute;
  top: 3%;
  bottom: 5%;
  right: -10%;
  left: -10%;
  background: inherit;
  border-radius: 10% / 10%;
}
      
      #tv2 {
  position: relative;
  width: 110px;
  height: 30px;
  margin: 20px 0;
  background: green;
  border-radius: 20% / 20%;
  color: white;
  text-align: center;
  text-indent: .1em;
  top: 203px;
  left: 690px;
}
#tv2:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 5%;
}
    

#tv3 {
  position: relative;
  width: 110px;
  height: 30px;
  margin: 20px 0;
  background: red;
  border-radius: 20% / 20%;
  color: white;
  text-align: center;
  text-indent: .1em;
  top: 182px;
  left: 690px;
}
#tv3:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 5%;
}
    

#tv4 {
  position: relative;
  width: 110px;
  height: 30px;
  margin: 20px 0;
  background: orange;
  border-radius: 20% / 20%;
  color: white;
  text-align: center;
  text-indent: .1em;
  top: 162px;
  left: 690px;
}
#tv4:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 5%;
}





