body {
  background-color: aquamarine;
}

.stem {
  width: 400px;
  height: 500px;
  background: none;
  border: 1px solid transparent;
  position: absolute;
  padding-top: 0px;
  padding-left: 0px;
  top: 0px;
  left: 30px;
  
}

.line {
  background: black;
  position: absolute;
  border: 1px solid red;
  height: 1px;
}

.line1 {
  width: 13px;
  top: 3px;
  left: 21px;
  transform: rotate(25deg);
}

.line2 {
  width: 27px;
  top:18px;
  left:15px;
  transform: rotate(113deg);
}

.line3 {
  width: 42px;
  top:30px;
  left:23px;
}

.line4 {
  width: 54px;
  top:15px;
  left:60px;
  transform: rotate(146deg);
}

.stem2 {
  top: 50px;
}

.stem3 {
  top: 100px;
}

.stem4 {
  top: 150px;
}

.stem5 {
  top: 200px;
}
.stem6 
{
  top: 250px;
}
.stem7 
{
  top: 300px;
}
.stem8 
{
  top: 350px;
}

.line5{
  width: 310px;
  top:47px;
  left:10px;
}

.line6{
  width:13px;
  top:0px;
  left:305px;
  transform: rotate(170deg);
}
 
.line7{
  width:66px;
  top:16px;
  left:244px;
  transform: rotate(153deg);
}
.line8{
  width:226px;
  top:31px;
  left:23px;
  
}