body {
	
}

.letter {
	
display: inline-block;
  position:absolute;
  margin: 0px auto;
  top:100px;
  left:100px;
  width: 300px;
  height: 400px;
  background: none;
  border: 1px solid blue;
	

	
}

.line1 {
	width: 40px;
	height: 1px;
	background: black;
	border: 1px solid black;
	position: relative;
    margin: 0px auto;
    top: 0px;

}
.line2 {
	width: 70px;
	height: 1px;
	background: black;
	border: 1px solid black;
	position: relative;
    margin: 0px auto;
    top: 30px;

}

.line3 {
	width: 100px;
	height: 1px;
	background: black;
	border: 1px solid black;
	position: relative;
    margin: 0px auto;
    top: 60px;
}

.line4 {
	width: 130px;
	height: 1px;
	background: black;
	border: 1px solid black;
	position: relative;
    margin: 0px auto;
    top: 90px;
}
.line5 {
	width: 160px;
	height: 1px;
	background: black;
	border: 1px solid black;
	position: relative;
    margin: 0px auto;
    top: 120px;
}
.line6 {
	width: 190px;
	height: 1px;
	background: black;
	border: 1px solid black;
	position: relative;
    margin: 0px auto;
    top: 150px;
}
.line7 {
	width: 220px;
	height: 1px;
	background: black;
	border: 1px solid black;
	position: relative;
    margin: 0px auto;
    top: 180px;
}