body {
  background: grey;
  padding: 10px;
}

.canvas {
  width: 900px;
  height: 556px;
  margin: 0px auto;
  background: #e7d8c5;
  position: relative;
}



#rectangle {
	width: 200px;
	height: 100px;
	position: absolute;
  
  top: 300px ;
  left:400px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-t: 2px solid black;
 
  border-right: 2px solid black;

}

#line1 {
	width: 40px;
	height: 1px;
	background: black;
	border: 1px solid black;
	position: relative;
    margin: 0px auto;
    top: 100px;

}

#trapezoid {
	border-bottom: 100px solid black;
  
  
  
	border-left: 50px solid red;
	border-right: 50px solid red;
	height: 0;
	width: 100px;
}



#trapezoid {
	border-bottom: 100px solid black;
  
  
  
	border-left: 50px solid red;
	border-right: 50px solid red;
	height: 0;
	width: 100px;
}



#pentagon {
    position: relative;
    width: 110px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: red transparent;
  border: 1 px solid black;
  
  top:300px;
    left:300px;
}


#clip{
  position: absolute;
  width: 150px;
    height: 150px;
    background: purple;
    clip-path: polygon(50% 0%, 11% 35%, 98% 35%, 68% 57%, 79% 71%, 50% 70%, 21% 71%, 32% 57%, 2% 35%, 39% 35%);
    top: 30px;
    left: 400px;
    
}

.module {
  stroke: black;
}