body {
  background-color: #e7d8c5;
}
.canvas {
  width: 1800px;
  height: 1000px;
  margin: 0px auto;
  background: #e7d8c5;
  position: relative;
}

.letter {
  width: 85px;
  height: 107px;
  background: none;
  position: relative;
  display: inline-block;
  margin: 10px;
  padding-top: 0px;
  padding-left: 0px;
  top: 0px;
  left: 0px;
  transform: scale();
}

.line {
  position: absolute;
  height: 1px;
  left: 0px;
}

.line1 {
  background: grey;
  width: 3px;
  top: 0px;
  transform: rotate(25deg);
}

.line2 {
  width: 7px;
  top: 7px;
  background: black;
  transform: rotate(-67deg);
  transform-origin: bottom left;
}

.line3 {
  width: 12px;
  top: 7px;
  background: black;
}

.line4 {
  background: grey;
  width: 14px;
  top: 3px;
  left: 10px;
  transform: rotate(146deg);
}

.module{
  width: 24px;
  height:8px;
  background:none;
  position: relative;
  margin-top: 0px;
  margin-bottom: 6px;
  top: 0px;
  left: 0px;
}

.armLong .line3 
  {
  width: 70px;
  background: black;
  }
.armLong .line4{
  background: grey;
  left: 68px;
}

/*Letter E*/
.armMed .line3{
  width: 56px;
  background: red;
}
.armMed .line4{
  background:grey;
  left: 54px;
}

.armShort .line3{
  width: 50px;
  background: blue;
}
.armShort .line4{
  background: grey;
  left: 48px;
}

.line5{
  width:32px;
  height:1px;
  background:grey;
  top:0px;
  left: 23px;
  }

.Med .module
{
left: 54px;
background:none;
}

.Short .module
{
left: 47px;
background:none;
}

.Short .line5{
  background: grey;
  width:24px;
}

.Shorter .module
  {
left: 47px;
}
#K .Shorter .line5{
  width:20px;
}
#K .Shorter .module{
  left:43px;
}
#K .Shortest4 .line5{
  width:5px;
}
#K .Shortest4 .module{
  left:28px;
}

#K .Shortest .line5{
  width:15px;
}
#K .Shortest .module{
  left:38px;
}

/*U and H*/
.Long .module{
 left:64px;
 background:none;
}
.Long .line5{
  width:44px;
  background: grey;
}

#U .armShort{
  left:12px;
}
#H .armLong .line3 
  {
  width: 76px;
  background: black;
}
#H .armLong .line4{
  background: grey;
  left: 74px;
}

/*N*/
.module .module1{
  left: 20px;
  background: none;
}
.module .module2{
  left: 40px;
  background: none;
}
.module .module3{
  left: 45px;
  background: none;
}
.module .module4{
  left: 45px;
  background: none;
}
.module .module5{
  left: 50px;
  background: none;
}
.module .module6{
  left: 45px;
  background: none;
}

 .line6
{
 width:20px;
 background:grey;
 top:0px;
 left: 43px;
}
.line7
{
 width:20px;
 background:grey;
 top:0px;
 left: 23px;
}
.line8
{
 width:20px;
 background:grey;
 top:0px;
 left: 23px;
}
.line9
{
 width:20px;
 background:grey;
 top:0px;
 left: 20px;
}
.line10
{
 width:20px;
 background:grey;
 top:0px;
 left: 28px;
}
.line11
{
 width:20px;
 background:grey;
 top:0px;
 left: 18px;
}