
/*html{
background: url(../assets/gallery_01.png) no-repeat center center fixed;
background-size: cover;
}
*/
#text{

     font-family:DDT;
      font-size: 16px;
      line-height: 1.5em;
      background-color: grey;  
      text-align: left;
    }


.scroll {

    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    width:auto;
    white-space: nowrap;
    display: block;
    position:absolute;
  }

.artwork{
  width: 400px;
  height:400px;
  position: absolute;
  border: none;
  
  display: inline-block;
  margin: 20px;
  top: 0px;
  left: 0px;
  cursor: -webkit-grab; cursor: grab;
  cursor: -webkit-grabbing; cursor: grabbing;
  
  
}

/*.rotated {
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -ms-transform: rotate(45deg);  
    -o-transform: rotate(45deg);  
    transform: rotate(45deg); 
}*/



.artwork1{
  top: 60px;
  left: 540px;
}

.artwork2{
  top: 60px;
  left: 1440px;
}

.artwork3{
  top: 80px;
  left: 2940px;
}
.artwork4{
  top: 40px;
  left: 4740px;
}

.artwork5{
  top: 100px;
  left: 5540px;
}
#person{
 top:300px;
 left:0px;
  border: none;
  position:fixed;
  top:300px;
  left:20px;
  margin: 20px;
 cursor: -webkit-grab; cursor: grab;
  cursor: -webkit-grabbing; cursor: grabbing;
  cursor: -webkit-click; cursor: click;
  z-index: 9;
  opacity: 0.2;
}
#square {
    width: 200px;
    height: 200px;
    background: black;
  position:absolute;
  top: 0px;
  left:100px;
}
#triangle{
    width: 0;
    height: 0;
    border-top: 220px solid transparent;
    border-right: 300px solid #fdda05;
    border-bottom: 220px solid transparent;
    position:absolute;
}

#rectangle1 {
  width: 300px;
  height: 300px;
  background: #d5533d;
  position:absolute;
}

#rectangle2 {
  width: 300px;
  height: 300px;
  background: #d5533d;
  position:absolute;
  top:100px;
  left:80px;
  box-shadow: 0px 0px 6px grey;
}




.artwork4{
  /*transform: rotate(-46deg);*/
  
  
 } 

#green{
  width: 430px;
  height:380px;
  background:#519973;
  z-index:2;
  position:absolute;
  top:183px;
  left:22px;
  transform: rotate(-46deg);
  transform-origin: top left;
  
}

#green {clip-path: polygon(7% 0, 40% 0, 59% 100%, 0 98%);}

#red{
  width: 430px;
  height:180px;
  background:#C42A42;
  z-index:2;
  position:absolute;
  top:0px;
  left:20px;
 transform: rotate(-46deg);
  
}

#red{clip-path: polygon(7% 0, 40% 0, 49% 100%, 4% 90%);}


#blue {
  width: 0;
  height: 0;
  border-bottom: 400px solid #1451a8;
  border-left: 200px solid transparent;
  /*transform: rotate(-26deg);*/
  transform: rotate(-117deg);
}
#white {
  width: 100px;
  height: 199px;
  background: white;
  position:absolute;
  top: 0px;
  left:321px;
  transform: rotate(-27deg);
  transform-origin: bottom left;

}

#triangle3{
  width: 0;
  height: 0;
  border-top: 250px solid #24231f;
  border-right: 250px solid transparent;
  top:40px;
  left:100px;
  position:absolute;
}

#rectangle3{

  width: 390px;
  height: 120px;
  background:white;
  position:absolute;
  transform: rotate(-45deg);
  top:160px;
  left:58px;
  
}

#text{
   

  width: 400px;
  height:400px;

  background:lightgrey;
  position:absolute;
  display: inline-block;
  margin: 20px;
  top: 80px;
  left: 7140px;

}






	body {
	  	margin: 0;
	  }





